footer
{
	background-color: black;
	position: relative;
	color: white;
	width: 100%;
}

#serviceFioFood header,#infoCenterFioFoodInformationLegales h6
{
    font-size: 30px;
    font-style: italic;
    text-shadow: 1px 1px 1px 1px black;
}

.reseauSocioIconTwi,.reseauSocioIconFace,.reseauSocioIconInsta,
.logoGoogle,.logoAppStore,.reseauSocioIconYoutube,.reseauSocioIconLinkedin
{
    padding: 10px;
    font-size: 45px;
}

.logoGoogle
{

}
.logoAppStore
{
	color: rgb(95, 152, 239);
}
.reseauSocioIconYoutube
{
	color: rgb(250,46, 46);
}
.reseauSocioIconFace
{
	color: rgb(81,81,255);
}
.reseauSocioIconLinkedin
{
	color: blue;
}
.reseauSocioIconInsta
{
	color: rgb(255,165,121);
}

.reseauSocioIconTwi
{
	color: rgb(94,255,255);
}
